.btn-orange {
    background-color: #E84C28 !important;
    border: #E84C28 !important;
    color: #fff;
}

.action-dropdown {
    cursor: pointer !important;
}

.color-orange {
    color: #ff6a00;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}

.filter-border {
    border-radius: 16px;
}

.filter-shadow {
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}